{% extends 'base.html.twig' %}

{% block title %}Auto Ruby Clean{% endblock %}

{% block body %}
{# <div class="blabla">
  <img src="{{ asset('images/Logo-Charly-removebg-preview.png') }}" alt="Logo Auto Ruby Clean" class="h-40 w-auto">
</div> #}
{% endblock %}