@import "tailwindcss";

body {
    background-color: rgb(240, 243, 243);
    cursor: none;
    margin: 0;
    height: 100vh;
    background: #111;
    overflow: hidden;
    overflow-y: scroll;
     /* display: flex;
  flex-direction: column;
  min-height: 100vh; */
}

.navbar {
    background-color: #2b2a28;
    border-bottom: 4px solid #951333;
    background-image: repeating-linear-gradient(45deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05) 10px,
            transparent 10px,
            transparent 20px);
}

.highlight-text {
    color: #d20f26;
}
/* #cursor-svg {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  pointer-events: none;
  overflow: visible;
  z-index: 9999;
} */